<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="vu.lt.myBatis.model.BoardGame" alias="BoardGame"/>
        <typeAlias type="vu.lt.myBatis.model.GameSession" alias="GameSession"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="BoardGamesDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="BoardGameMapper.xml"/>
        <mapper resource="GameSessionMapper.xml"/>
    </mappers>
</configuration>